<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>Login.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeKeeperHandle</servlet-name>
        <servlet-class>Emp.TimeKeeperHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CeoSearchHandle</servlet-name>
        <servlet-class>Emp.CeoSearchHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRow</servlet-name>
        <servlet-class>Emp.DeleteRow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmpInfo</servlet-name>
        <servlet-class>Emp.UpdateEmpInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessEditProf</servlet-name>
        <servlet-class>Emp.AccessEditProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseLog</servlet-name>
        <servlet-class>Login.ChooseLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewMember</servlet-name>
        <servlet-class>Emp.AddNewMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddnewHandle</servlet-name>
        <servlet-class>Emp.AddnewHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChagePasswordHandle</servlet-name>
        <servlet-class>Emp.ChagePasswordHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>Emp.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMyProfileHandle</servlet-name>
        <servlet-class>Emp.ToMyProfileHandle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeKeeperHandle</servlet-name>
        <url-pattern>/TimeKeeperHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CeoSearchHandle</servlet-name>
        <url-pattern>/CeoSearchHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRow</servlet-name>
        <url-pattern>/DeleteRow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmpInfo</servlet-name>
        <url-pattern>/UpdateEmpInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessEditProf</servlet-name>
        <url-pattern>/AccessEditProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseLog</servlet-name>
        <url-pattern>/ChooseLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMember</servlet-name>
        <url-pattern>/AddNewMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddnewHandle</servlet-name>
        <url-pattern>/AddnewHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChagePasswordHandle</servlet-name>
        <url-pattern>/ChagePasswordHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMyProfileHandle</servlet-name>
        <url-pattern>/ToMyProfileHandle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>servlet-api</artifactId>
        <version>2.5</version>
        <scope>provided</scope>
    </dependency>
    <dependency>
        <groupId>javax.servlet.jsp</groupId>
        <artifactId>jsp-api</artifactId>
        <version>2.1</version>
        <scope>provided</scope>
    </dependency>
</web-app>
